table{
	border: 1px solid black;
	border-collapse: collapse;
	
}
tr.head{
	text-transform: uppercase;
	color: white;
	background-color: #84B3E3;
	padding: 8px;
}
tr.data{
	background-color: #DAE5F0;
	color: black;
	text-transform: capitalize;
}
th,td{
	padding: 10px 10px 10px 10px;
	letter-spacing: 0.05em;
}
h1,h2{
	color: grey;
}
tr.data1{
	background-color: #DAE5F0;
	color: black;
	text-transform: capitalize;
	border-bottom: none;
}